<div class="container-fluid">
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <div class="message-box border border-danger rounded p-2 pt-5 pb-5 text-center">
        <h1 class="text-danger">404 - Page Not Found</h1>
        <h3>Sorry, but there is no page for this route: </h3>
        <span class="location d-block h3 p-3 text-danger">{{location}}</span>
        <h3>You will be redirected to the search page in <span class="timeout">{{timeout}}</span> sec</h3>
      </div>
    </div>
  </div>
</div>
