<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/search" routerLinkActive="active">
    <img src="../../../assets/karazin-logo.png" class="header-logo" alt="">
  </a>
  <button class="navbar-toggler d-lg-none" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" (click)="isCollapsed = !isCollapsed" >
        <a class="nav-link" routerLink="/registration">Реєстрація абітурієнтів</a>
      </li>
      <li class="nav-item" (click)="isCollapsed = !isCollapsed" >
          <a class="nav-link disabled" routerLink="/student-info">Робота з картками(абітурієнт)</a>
      </li>
      <li class="nav-item" (click)="isCollapsed = !isCollapsed" >
          <a class="nav-link" routerLink="/search">Робота з картками(студент)</a>
      </li>
      <li class="nav-item" (click)="isCollapsed = !isCollapsed" >
          <a class="nav-link disabled" routerLink="#">Робота з архівом</a>
      </li>
      <li class="nav-item" (click)="isCollapsed = !isCollapsed" >
          <a class="nav-link" routerLink="/reports">Конструктор звітів</a>
      </li>
    </ul>
  </div>
</nav>
